.banner
{
    background-image: url(img/banner.fw.png);
}

#corpo
{
    width: 1000px;
    border: 1px solid black;
    margin: auto;
}

#drones
{
    display: flex;
}
#d1
{
    width: 300px;
    height: 280px;
    border: 3px solid #1b8d99;
    margin-right: 20px;
}

#d2
{
    width: 300px;
    border: 3px solid #660000;
    height: 280px;
    margin-right: 20px;
}

#d3
{
    width: 300px;
    border: 3px solid #1b8d99;
    height: 280px;
}


#servico
{
    display: flex;
}


.s1
{
    width: 300px;
    border: 3px solid #660000;
    border-bottom: 13px solid #660000;
    margin-right: 20px;
}

#s2
{
    width: 300px;
    border: 3px solid #1b8d99;
    border-bottom: 13px solid #1b8d99;
    margin-right: 20px;
}

p
{
    font-family: tahoma;
    font-size: 13px;
    color: #1b8d99;
    text-align: justify;
}

.p2
{
    font-family: tahoma;
    font-size: 13px;
    color: #660000;
    text-align: justify; 
}

h1
{
    font-family: tahoma;
    color: #1b8d99;
    font-size: 17px;
    background-color: #1b8d9926;
    text-align: center;   
}

h2
{
    font-family: tahoma;
    font-size: 17px;
    color: #660000;
    background-color: #66000033;
    text-align: center; 
}

h3
{
    ont-family: tahoma;
    font-size: 17px;
    color: #660000;
}

h4
{
    font-family: tahoma;
    color: #1b8d99;
    font-size: 17px;
}

h5
{
    font-family: arial;
    font-size: 18px;
    color: #660000;
    text-decoration: underline 3px;  
}

h6
{
    font-family: arial;
    font-size: 18px;
    color: #1b8d99;
    text-decoration: underline 3px; 
}